@font-face {
    font-family: 'odin';
    src: url('./assets/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 100vw;
    height: 100vh;

    font-family: Arial, Helvetica, sans-serif;

    --background-main: lightgray;
    --error-clr: rgb(192, 20, 33);
}

.flex {
    display: flex;
}

.vertical {
    flex-direction: column;
    margin: 0px 30px 15px 0px;
}

.left {
    width: clamp(200px, 35%, 700px);
    background: #000 url(./assets/photo.avif);

    color: white;
    display: flex;
    flex-direction: column;
}


.image {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    font: clamp(1rem, 10vw, 10rem) "odin", sans-serif;

    margin-top: 30%;
    background-color: rgba(0, 0, 0, 0.5);
}

img {
    width: clamp(50px, 25%, 125px);
}

.footer {
    margin-top: auto;
    display: flex;
    padding: 10px;
    justify-content: center;
}

.left a {
    color: white;
}

.right {
    width: clamp(600px, 65%, 1800px);
    display: flex;
    flex-direction: column;
    background-color: var(--background-main);
}

.right>* {
    padding: 25px;
}

.signup-form {
    background-color: white;
    box-shadow: 3px 3px 5px grey;
}

label {
    margin-top: 15px;
    margin-bottom: 3px;
    font-size: small;
    font-weight: bold;
    color: darkslategrey;
}

legend {
    font-size: x-large;
    font-weight: bolder;
}

button {
    background-color: #596D48;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: large;
    font-weight: bold;
    padding: 15px 40px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 10px gray;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    padding: 6px 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input:focus {
    outline: none !important;
    border: 1px solid navy;
    box-shadow: 3px 3px 10px grey;
}

input:invalid:not(:placeholder-shown),
.error {
    border: 2px solid var(--error-clr);
}

input:valid:not(:placeholder-shown) {
    background: url(assets/check.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center right 5px;
}

.errorPwd {
    color: var(--error-clr);
    font-size: smaller;
    margin-top: 3px;
}

.right a {
    color: #596D48;
    font-weight: bolder;
    text-decoration: none;
}