@font-face {
    font-family: 'odin';
    src: url('./assets/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 100vw;
    height: 100vh;

    --background-main: lightgray;
    --error-clr: rgb(192, 20, 33);
}

.left {
    width: 35%;
    background: #000 url(./assets/photo.avif);

    color: white;
    display: flex;
    flex-direction: column;
}

.image {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    font: clamp(1rem, 10vw, 10rem) "odin", sans-serif;

    margin-top: 30%;
    background-color: rgba(0, 0, 0, 0.5);
}

img {
    width: clamp(50px, 25%, 125px);
}

.footer {
    margin-top: auto;
    display: flex;
    padding: 10px;
    justify-content: center;
}

.right {
    display: flex;
    flex-direction: column;
    background-color: var(--background-main);
}

.right>* {
    padding: 25px;
}

.signup-form {
    background-color: white;
    box-shadow: 3px 3px 5px grey;
}

button {
    background-color: #596D48;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 15px;
    box-shadow: 3px 3px 10px gray;
}

input {
    border: #E5E7EB;
}

input:focus {
    outline: none !important;
    border: 1px solid navy;
    box-shadow: 3px 3px 10px grey;
}