@font-face {
    font-family: 'odin';
    src: url('./assets/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left {
    width: 35%;
    background: #000 url(./assets/photo.avif);

    color: white;
    display: flex;
    flex-direction: column;
}

.image {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    font: clamp(1rem, 10vw, 10rem) "odin", sans-serif;

    margin-top: 30%;
    background-color: rgba(0, 0, 0, 0.5);
}

img {
    width: clamp(50px, 25%, 125px);
}

.footer {
    margin-top: auto;
}